.header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 34px;
}

.header__logo{
    width: 254px;
    height: 70px;
}

@media screen and (max-width:1024px) {
    .header{
     padding: 30px;
}
}

@media screen and (max-width:640px) {
    .header{
    padding: 20px;
}
}

