.header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 34px;
}

.header__logo{
    width: 254px;
    height: 70px;
}

@media screen and (max-width:1024px) {
    .header{
     max-width: 1024px;
     height: 1883px;
     opacity: 1;
     padding: 30px;
}
}

@media screen and (max-width:544px) {
    .header{
    width: 768px;
    height: 1659px;
    opacity: 1;
    padding: 20px;
}
}

