.intro{
margin-left: 148px;
font-family: "Inter";
}

.intro__title{
color:#fff;
max-width: 830px;
font-weight: 900;
font-size: 54px;
line-height: 58px;
letter-spacing: 0%;
}

 .intro__subtitle{
max-width: 738px; 
font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;
}

.intro__author{
    max-width: 732px;
font-family: "Inter";
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;
text-align: right;
}

.intro__text{
font-family:"Inter";
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0%;
max-width: 722px;
}