.place {
    font-family: "Inter";
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
    grid-template-areas:
        "title artist"
        "image text"
        "button text";
    padding: 46px 148px 46px;
    margin: 0 auto;
}

.place__title {
    font-size: 80px;
    grid-area: title;
    align-self: end;
}

.place__description {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;
    color: #FFFFFF;
    grid-area: text;

}

.place__website {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;
    grid-area: artist;
    align-self: end;
}

.place__image {
    box-shadow: 10px 10px 25px 0px #00000080;
    object-fit: cover;
    grid-area: image;
    width: 100%;
    display: block;
}

.place__button {
    font-family: "Inter";
    text-decoration: none;
    background: linear-gradient(90deg, #0278FE 0%, #003A88 99.9%);
    color: white;
    border-radius: 4px;
    padding: 13px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    grid-area: button;
    height: max-content;
    width: max-content;
}


@media screen and (max-width:1280px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
    }

    .place__description {
        font-size: 18px;

    }

    .place {
        padding: 0 24px;
    }
    
}

@media screen and (max-width:780px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        padding: 0 16px;
    }

    .place {
        grid-template-areas:
            "title"
            "artist"
            "image"
            "text"
            "button"
        ;
    }

    .place__website {
        padding: 0 16px;

    }

    .place__description {
        padding: 0 16px;
    }

    .place__button {
        margin: 0 16px;
    }
}

